.produto{
  width: 24rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  gap:4rem;
  padding-left: 2rem;
  cursor: pointer;
}

.produto:hover{
  transform: scale(1.01);
}

.produto:nth-child(2){
  margin: 1rem 0;
}
.tituloCard{
  text-transform: uppercase;
}
.imagemCardPizza, .imagemCardHamburguer, .imagemCardFastFood{
  width: 68px;
  height: 60px;
  
}